
<nav class="navbar navbar-expand-lg fixed-top navbar-kims">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <i class="fa-solid fa-hospital-user text-danger me-2"></i>SmartCare <span class="text-secondary">AI</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#kimsNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="kimsNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'public_queues' %}">Live Queues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ai_chatbot' %}">AI Assistant</a>
                </li>
                
                {% if user.is_authenticated %}
                    <li class="nav-item ms-3">
                        <a class="btn btn-kims-primary" href="{% url 'dashboard_redirect' %}">Dashboard</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="btn btn-kims-outline" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item ms-3">
                        <a class="btn btn-kims-outline" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="btn btn-kims-primary" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
